.App {
  text-align: center;

}

.top-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  max-height: 150px;
}

.message-ctr {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.message-field-ctr {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.message-time-ctr {
  color: gray;
  font-size: 12px;
}

.message-btn-ctr {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.footer-btn {
  margin-left: 20px !important;
  text-transform: none !important;
}

.footer-btn > span{
  margin-left: 10px;
}

.save-btn {
      background-color: #388e3c !important;
}

.clear-btn {
  color: #d32f2f !important;
  border-color: #d32f2f !important;
}

.previous-message-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
}

.previous-message-header-ctr {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid #d9d8d8;
  margin-bottom: 10px;
}

.previous-message-label {
  width: 200px;
  margin: 0;
}

.previous-message-content-ctr {
  width: 60%;
}

.previous-message-header-ctr svg {
  color: gray;
  font-size: 15px;
  margin-right: 10px;
}

@media (max-width: 500px){

  .footer-btn > span{
    display: none;
  } 

  .footer-btn {
    min-width: 35px !important;
    width: auto;
    margin-left: 0 !important;
  }

  .message-btn-ctr {
    justify-content: space-between;
  }
}