.App {
  text-align: center;

}

.top-bar {
  margin-top: 20px;
  display: flex;
   justify-content: center;
}

.message-ctr {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.message-field-ctr {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.message-time-ctr {
  color: gray;
  font-size: 12px;
}

.message-btn-ctr {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.save-btn {
      background-color: #388e3c !important;
      width: 150px;
}

.clear-btn {
  color: #d32f2f !important;
  border-color: #d32f2f !important;
  width: 150px;
  margin-right: 20px !important;
}

.previous-message-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
}

.previous-message-header-ctr {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  font-size: 13px;
}

.previous-message-content-ctr {
  width: 60%;
}

.previous-message-header-ctr svg {
  color: gray;
  font-size: 15px;
  margin-right: 10px;
}