.editor {
    max-height: 70vh;
}

.editor .ck.ck-reset.ck-editor {
    max-height: 70vh;
}

.editor .ck.ck-content.ck-editor__editable, .editor .ck.ck-editor__main {
    height: 65vh;
}

.save-note-btn {
    margin-top: 20px !important;
    float: right;
    text-transform: none !important;
    background-color: #388e3c !important;
}