.group-ctr {
    padding: 0 15px 15px 15px;
    height: calc(100vh - 15px);
}

.group-header {
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.group-content {
    background-color: #e8eaf6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    height: calc(100% - 100px);
}

.messages-pane {
  flex: 9;
  min-height: 100px;
  overflow-y: auto;
}

.text-box {
    margin: 30px 15px 20px;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 60px;
    flex: 1;
}

.message-text-area {
  margin-right: 15px !important;
}

.message-text-area .MuiInputBase-root {
  border-radius: 24px;
  background-color: white;
}

.message-text-area .MuiOutlinedInput-notchedOutline {
  border:0;
}

.send-button {
  min-width: 56px !important;
  width: 56px;
  border-radius: 30px !important;
  cursor: pointer;
  height: 56px !important;
}
