.group-ctr {
    padding: 0 15px 15px 15px;
    height: calc(100vh - 15px);
}

.group-header {
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.text-box {
    padding: 30px 15px;
    display: flex;
    background-color: #e8eaf6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: calc(30vh - 150px);
}

.message-text-area {
  margin-right: 15px !important;
}

.message-text-area .MuiInputBase-root {
  border-radius: 24px;
  background-color: white;
}

.message-text-area .MuiOutlinedInput-notchedOutline {
  border:0;
}

.send-button {
  min-width: 56px !important;
  width: 56px;
  border-radius: 30px !important;
  cursor: pointer;
}
